{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 * Theme: pa_adaptivetheme
 * Generated on: Wed, 11 Jan 17 16:17:25 +0000
 */
#}
{{ attach_library('pa_adaptivetheme/pa_adaptivetheme.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
