.fourcol-source-ordered-12--3-9--12 .hr--2-3 .l-r:first-child {
  width: 75%;
  order: 2;
}

.fourcol-source-ordered-12--3-9--12 .hr--2-3 .l-r:last-child {
  width: 25%;
  order: 1;
}

.fourcol-source-ordered-12--3-9--12 .hr--1-2-3 .l-r:first-child {
  order: 1;
}

.fourcol-source-ordered-12--3-9--12 .hr--1-2-3 .l-r:nth-child(2) {
  width: 75%;
  order: 3;
}

.fourcol-source-ordered-12--3-9--12 .hr--1-2-3 .l-r:last-child {
  width: 25%;
  order: 2;
}

.fourcol-source-ordered-12--3-9--12 .hr--2-3-4 .l-r:first-child {
  width: 75%;
}

.fourcol-source-ordered-12--3-9--12 .hr--2-3-4 .l-r:nth-child(2) {
  width: 25%;
}

.fourcol-source-ordered-12--3-9--12 .arc--4 .l-r:first-child {
  order: 1;
}

.fourcol-source-ordered-12--3-9--12 .arc--4 .l-r:nth-child(2) {
  width: 75%;
  order: 3;
}

.fourcol-source-ordered-12--3-9--12 .arc--4 .l-r:nth-child(3) {
  width: 25%;
  order: 2;
}

.fourcol-source-ordered-12--3-9--12 .arc--4 .l-r:last-child {
  order: 4;
}
