$default-color:         #4d4d4d;

$brand-primary:         #c000e2;
$brand-secondary:       #1fe7aa;
$brand-accent:          #61a642;

$brand-success:         #5cb85c;
$brand-info:            #33b5e5;
$brand-warning:         #ff8800;
$brand-danger:          #d9534f;